#/////////////////////////////////////////////////////////////////////////////
# cocos
#/////////////////////////////////////////////////////////////////////////////

/cocos/library/
/cocos/temp/
/cocos/local/
/cocos/build/
*.log
*.sql
*.sqlite
*.sln
*.csproj
*.pidb
*.unityproj
*.suo
*.meta
.DS_Store
ehthumbs.db
Thumbs.db
.vimfiles.*/
.exvim.*/
quick_gen_project_*_autogen.bat
quick_gen_project_*_autogen.sh
.exvim.app
.idea/
.vscode/